//  Copyright (c) Meta Platforms, Inc. and affiliates.
//  All rights reserved.
//  This source code is licensed under the license found in the
//  LICENSE file in the root directory of this source tree.

doctype
html
  head
    title Facebook Video Publishing API Sample App
    link(rel='stylesheet', href='/style.css')
  body
    header
      h1 Facebook Video Publishing API Sample App
    .button-group
      button(onclick="location.href='/login'") Log In with Facebook
      button(onclick="location.href='/logout'") Log Out
    if(error)
        .alert-error
          span.closebtn(onclick="this.parentElement.style.display='none';") &times;
          |   Error Occured - #{error}!
