doctype
html
  head
    title Facebook Publishing Reels App
    link(rel='stylesheet', href='/style.css')
  body
    header
      h1 Facebook Publishing Reels App
    h3 Share to reels
    .button-group
      button(onclick="location.href='/login'") Log In with Facebook
      button(onclick="location.href='/logout'") Log Out
    if(error)
        .alert-error
          span.closebtn(onclick="this.parentElement.style.display='none';") &times;
          |   Error Occured - #{error}!
