doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous')
    link(rel='stylesheet', href='/modal-style.css')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js' integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k' crossorigin='anonymous')
    script.
        $(document).ready(function(){
            $("#exampleModal").modal('show');
        });
#exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    form(action="/publishReels", method="post")
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title New Reel
                .modal-body
                    div(class='modal-content-left')
                        div(class='modal-content-left-title')
                            text Enable Remixing ?
                        div(class='modal-content-left-sub-content')
                            text Let anyone remix your reel
                    div(class='modal-content-right')
                        label.switch
                            input(type='checkbox', value=false, name='enableRemixing')
                            span.slider.round
                .modal-footer
                    button.btn.btn-link(type='button' data-dismiss='modal') Cancel
                    input(type='submit', class="btn btn-primary", name='publishReels', value='Publish Reel', onclick="this.form.submit(); this.disabled = true;")
